Adafruit-Blinka==8.48.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-ds1307==2.1.20
adafruit-circuitpython-register==1.10.1
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.10.1
Adafruit-DHT==1.4.0
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
Adafruit-Python-DHT==1.4.0
asn1crypto==0.24.0
binho-host-adapter==0.1.6
certifi==2018.8.24
chardet==3.0.4
click==8.1.8
cryptography==2.6.1
entrypoints==0.3
Flask==2.2.5
idna==2.6
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.6
keyring==17.1.1
keyrings.alt==3.1.1
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==2.1.5
numpy==1.16.2
olefile==0.46
Pillow==5.4.1
playsound==1.2.2
pycairo==1.23.0
pycrypto==2.6.1
pyftdi==0.54.0
Pygments==2.3.1
PyGObject==3.30.4
pyserial==3.5
python-apt==1.8.4.3
pyusb==1.2.1
pyxdg==0.25
PyYAML==3.13
requests==2.21.0
RPi.GPIO==0.7.0
SecretStorage==2.3.1
six==1.12.0
smbus==1.1.post2
spidev==3.5
ssh-import-id==5.7
sysv-ipc==1.1.0
typing_extensions==4.7.1
urllib3==1.24.1
Werkzeug==2.2.3
zipp==3.15.0
